@page "/products/{CollectionName}"
@inject IProductService _productService
@inject ICategoryService _itemTypeService
@inject IColorService _colorService
@inject ICollectionService _collectionService
@inject IJSRuntime JSRuntime

<h2 class="component-header">@CollectionName</h2>

@if (!IsLoading)
{
    <_ProductFilter ProductList="@StartingList" Collection="@Collection"  OnFilterApplied="HandleFilterApplied"></_ProductFilter>

    @if (ProductList.Any())
    {
        @if (FilteredColors.Any()){
            <div class="tag-container">
                @if (FilteredColors.Any())
                {
                    foreach (var color in FilteredColors)
                    {
                        <div class="tag-container__item">
                            <p>@color</p>
                        </div>
                    }
                }
            </div>            
        }
        <div class="product-grid">
            @foreach (var product in ProductList)
            {
                <a href=@($"/product/{product.Name}/{product.IdGuid}") style="text-decoration:none;">
                    <_ProductItem Product="product"></_ProductItem>
                </a>
            }
        </div>
        @if (TotalPages > 1)
        {
            <div class="product-pages">
                <button @onclick="LoadPreviousPage" disabled="@IsFirstPage" class="product-pages__button">Back</button>
                <span>Page @CurrentPage of @TotalPages</span>
                <button @onclick="LoadNextPage" disabled="@IsLastPage" class="product-pages__button">Next</button>
            </div>
        }        
    }
    else
    {
        <p class="component-header--no-items">Collection is Empty</p>
    }
}
else
{
    <_LoadingAnimation></_LoadingAnimation>
}


@code {
    [Parameter]
    public string CollectionName { get; set; }

    [Parameter]
    public string SelectedSection { get; set; }

    [Parameter]
    public string ItemType { get; set; }

    private CollectionDTO Collection { get; set; } = new CollectionDTO();
    private IEnumerable<ProductDTO> ProductList { get; set; } = new List<ProductDTO>();
    private IEnumerable<ProductDTO> StartingList { get; set; } = new List<ProductDTO>();
    private IEnumerable<string> FilteredColors { get; set; } = new List<string>();

    private int CurrentPage { get; set; } = 1;
    private int TotalPages { get; set; } = 1;
    private int ItemsPerPage { get; set; } = 25;

    private bool IsFirstPage => CurrentPage == 1;
    private bool IsLastPage => CurrentPage >= TotalPages;

    private bool IsLoading { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await LoadProducts();
    }

    private async Task LoadProducts()
    {
        IsLoading = true;
        StateHasChanged();

        Collection = await _collectionService.GetByName(CollectionName);

        (IEnumerable<ProductDTO> products, int totalCount) result;
        result = await _productService.GetByCollection(Collection, CurrentPage, ItemsPerPage);

        ProductList = result.products;
        StartingList = result.products;
        TotalPages = (int)Math.Ceiling((double)result.totalCount / ItemsPerPage);

        IsLoading = false;
        StateHasChanged();
    }

    private async Task LoadNextPage()
    {
        if (!IsLastPage)
        {
            CurrentPage++;
            await LoadProducts();
        }
    }

    private async Task LoadPreviousPage()
    {
        if (!IsFirstPage)
        {
            CurrentPage--;
            await LoadProducts();
        }
    }

    private void HandleFilterApplied(IEnumerable<ProductDTO> filteredProducts)
    {
        ProductList = filteredProducts;
        StateHasChanged();
    }
}
