@page "/product/create"
@page "/product/create/{Id:int}"

@inject NavigationManager _navigationManager
@inject IProductService _productService
@inject IItemTypeService _itemTypeService
@inject IColorService _colorService

<div>
    <h2>@Title Product</h2>
</div>

<div>
    @if (IsLoading)
    {
        <div class="loadingio-spinner-blocks-49enh9aem">
            <div class="ldio-4kmgy2v2hm7">
                <div style='left:25.919999999999998px;top:25.919999999999998px;animation-delay:0s'></div><div style='left:57.599999999999994px;top:25.919999999999998px;animation-delay:0.32894736842105265s'></div><div style='left:89.28px;top:25.919999999999998px;animation-delay:0.6578947368421053s'></div><div style='left:25.919999999999998px;top:57.599999999999994px;animation-delay:2.3026315789473686s'></div><div style='left:89.28px;top:57.599999999999994px;animation-delay:0.9868421052631579s'></div><div style='left:25.919999999999998px;top:89.28px;animation-delay:1.9736842105263157s'></div><div style='left:57.599999999999994px;top:89.28px;animation-delay:1.644736842105263s'></div><div style='left:89.28px;top:89.28px;animation-delay:1.3157894736842106s'></div>
            </div>
        </div>
    }
    else
    {
        <EditForm Model="Product" OnValidSubmit="@Submit">
            <DataAnnotationsValidator />
            <div class="form">
                <!-- Name -->
                <div class="input-container">
                    <p class="input-container--text">Item Name</p>
                    <InputText @bind-Value="Product.Name" class="item-container__input" placeholder="Enter name..."></InputText>
                    <ValidationMessage For="() => Product.Name" />
                </div>
                <!-- Descrption -->
                <div class="input-container">
                    <p class="input-container--text">Item Description</p>
                    <InputTextArea @bind-Value="Product.Description" class="item-container__input" placeholder="Enter text..."></InputTextArea>
                </div>
                <!-- Item Type-->
                <div class="input-container">
                    <p class="input-container--text">Item Type</p>
                    <InputSelect Value="Product.ItemTypeModelId"
                                 ValueChanged="@(async (int newValue) => await OnItemTypeChanged(newValue))"
                                 ValueExpression="@(() => Product.ItemTypeModelId)" class="item-container__input">
                        @if (ItemTypeModels.Any())
                        {
                            @foreach (var itemType in ItemTypeModels)
                            {
                                <option value="@itemType.ItemTypeId">@itemType.Model</option>
                            }
                        }
                    </InputSelect>
                    <ValidationMessage For="() => Product.ItemTypeModelId" />
                </div>
                <!-- Price -->
                <div class="input-container">
                    <p class="input-container--text">Item Price €</p>
                    <InputNumber @bind-Value="Product.Price" class="item-container__input"></InputNumber>
                </div>
                <!-- Available colors -->
                <div class="input-container">
                    @if (ColorModels.Any())
                    {
                        <p class="input-container--text" >Available Colors</p>
                        <div class="input-container--wrap">
                                @foreach (var color in ColorModels)
                                {
                                    @if (!Product.Colors.Any(x => x.Id == color.Id))
                                    {
                                        <div @onclick="() => AddColorToProduct(color)" class="color-container" style="background-color: @color.ColorCode;"></div>
                                    }
                                }                                                       
                        </div>
                    }
                </div>
                <!-- Selected colors -->
                <div class="input-container">
                    <p class="input-container--text">Selected Colors</p>
                    <div class="input-container--wrap">
                        @if (Id != 0)
                        {
                            @foreach (var color in Product.Colors)
                            {
                                <div @onclick="() => RemoveColorFromProduct(color)" class="color-container" style="background-color: @color.ColorCode;"></div>
                            }
                        }
                        else
                        {
                            @foreach (var color in SelectedColors)
                            {
                                <div @onclick="() => RemoveColorFromProduct(color)" class="color-container" style="background-color: @color.ColorCode;"></div>
                            }
                        }
                    </div>
                </div>
                <!-- Sizes -->
                <div class="input-container">
                    <p class="input-container--text" style="margin-bottom: -10px;">Sizes</p>
                    @if (Product.ItemTypeModelId != 0)
                    {
                        @if (ItemType != null && ItemType.Sizes != null)
                        {
                            <div class="input-container--wrap">
                                @foreach (var size in ItemType.Sizes)
                                {
                                    <div class="input-container__size-box">
                                        <label>@size.ItemSize</label>
                                    </div>
                                }
                            </div>
                        }
                    }
                    else
                    {
                        <p style="margin: 0px;">Select an item type</p>
                    }
                </div>
                <!-- Image upload -->
                <div class="input-container">
                    <p class="input-container--text">Image Upload</p>
                    <InputFile OnChange="@HandleFileUpload" class="item-container__input" />
                </div>
                <!-- Image -->
                @if (Product.ImageData.Any())
                {
                    <div class="input-container">
                        <p class="input-container--text">Image</p>
                        <img src="@ImageData()" class="input-container--image" />
                    </div>
                }                
            </div>
            <button type="submit" class="btn-form btn-form--submit">Submit</button>
            <NavLink href="/wardrobe"><button class="btn-form btn-form--cancel">Cancel</button></NavLink>
        </EditForm>
    }
</div>

@code {
    [Parameter]
    public int Id { get; set; }
    private string Title { get; set; } = "Create";
    private bool IsLoading { get; set; }

    private ProductDTO Product { get; set; } = new ProductDTO() { Colors = new List<ColorDTO>()};
    private ItemTypeDTO ItemType { get; set; } = new ItemTypeDTO();
    private IEnumerable<ItemTypeDTO> ItemTypeModels { get; set; } = new List<ItemTypeDTO>();
    private IEnumerable<ColorDTO> ColorModels { get; set; } = new List<ColorDTO>();
    private List<ColorDTO> SelectedColors { get; set; } = new List<ColorDTO>();

    private async Task Submit()
    {
        Product.Colors = SelectedColors;
        if (Id == 0)
        {
            await _productService.Create(Product);
        }
        else
        {
            await _productService.Update(Product);
        }
        _navigationManager.NavigateTo("/wardrobe");
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadItem();
    }

    private async Task LoadItem()
    {
        IsLoading = true;
        StateHasChanged();
        ItemTypeModels = await _itemTypeService.GetAll();
        ColorModels = await _colorService.GetAll();
        if (Id != 0)
        {
            Product = await _productService.GetById(Id);
            ItemType = await _itemTypeService.GetById(Product.ItemTypeModelId);
            SelectedColors = Product.Colors;
            Title = "Update";
        }
        IsLoading = false;
        StateHasChanged();
    }

    private async Task OnItemTypeChanged(int selectedId)
    {
        Product.ItemTypeModelId = selectedId;
        ItemType = await _itemTypeService.GetById(selectedId);
        StateHasChanged();
    }

    private void AddColorToProduct(ColorDTO color)
    {
        SelectedColors.Add(color); 
        StateHasChanged();
    }

    private void RemoveColorFromProduct(ColorDTO color)
    {
        SelectedColors.Remove(color);
        StateHasChanged();
    }

    private async Task HandleFileUpload(InputFileChangeEventArgs e)
    {
        var imageFile = e.File;

        if (imageFile != null)
        {
            using (var memoryStream = new MemoryStream())
            {
                await imageFile.OpenReadStream().CopyToAsync(memoryStream);
                Product.ImageData = memoryStream.ToArray();
            }
        }
    }

    private string ImageData()
    {
        if (Product.ImageData != null && Product.ImageData.Length > 0)
        {
            var base64String = Convert.ToBase64String(Product.ImageData);
            return $"data:image/jpeg;base64,{base64String}";
        }
        return "";
    }
}
