@page "/product/create"
@page "/product/create/{Id:int}"

@inject NavigationManager _navigationManager
@inject IProductService _productService
@inject IItemTypeService _itemTypeService
@inject ISizeService _sizeService

<div>
    <h2>@Title Product</h2>
</div>

<div>
    @if (IsLoading)
    {
        <div class="loadingio-spinner-blocks-49enh9aem">
            <div class="ldio-4kmgy2v2hm7">
                <div style='left:25.919999999999998px;top:25.919999999999998px;animation-delay:0s'></div><div style='left:57.599999999999994px;top:25.919999999999998px;animation-delay:0.32894736842105265s'></div><div style='left:89.28px;top:25.919999999999998px;animation-delay:0.6578947368421053s'></div><div style='left:25.919999999999998px;top:57.599999999999994px;animation-delay:2.3026315789473686s'></div><div style='left:89.28px;top:57.599999999999994px;animation-delay:0.9868421052631579s'></div><div style='left:25.919999999999998px;top:89.28px;animation-delay:1.9736842105263157s'></div><div style='left:57.599999999999994px;top:89.28px;animation-delay:1.644736842105263s'></div><div style='left:89.28px;top:89.28px;animation-delay:1.3157894736842106s'></div>
            </div>
        </div>
    }
    else
    {
        <EditForm Model="WardrobeItem" OnValidSubmit="@Submit" @onmousemove="UpdateSizes">
            <DataAnnotationsValidator />
            <div class="form">
                <div class="input-container">
                    <p class="input-container--text">Item Color</p>
                    <InputText @bind-Value="WardrobeItem.Color" class="item-container__input" placeholder="Enter text...">test</InputText>
                </div>
                <div class="input-container">
                    <p class="input-container--text">Item Type</p>
                    <InputSelect @bind-Value="WardrobeItem.ItemTypeModelId" class="item-container__input">
                        @if (ItemTypeModels.Any())
                        {
                            @foreach (var itemType in ItemTypeModels)
                            {
                                <option value="@itemType.ItemTypeId">@itemType.Model</option>
                            }
                        }                        
                    </InputSelect>
                </div>
                <div class="input-container">
                    <p class="input-container--text">Item Price €</p>
                    <InputNumber @bind-Value="WardrobeItem.Price" class="item-container__input"></InputNumber>
                </div>
                <div class="input-container">
                    <p class="input-container--text">Sizes</p>
                    @if (WardrobeItem.ItemTypeModelId != 0)
                    {
                        <div class="input-container" style="margin-top:10px; display: flex; align-items: center; flex-wrap: wrap; flex-direction: row">
                            @foreach (var size in Sizes)
                            {
                                <div class="input-container__size-box">
                                    <label>@size.ItemSize</label>
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <p style="margin: 0px;">Select an item type</p>
                    }                   
                </div>
                <div class="input-container">
                    <p class="input-container--text">Image Upload</p>
                    <InputFile OnChange="@HandleFileUpload" class="item-container__input" />
                </div>
                <div class="input-container">
                    <p class="input-container--text">Image</p>
                    <img src="@ImageData()" class="input-container--image"/>
                </div>
            </div>
            <ValidationMessage For="() => WardrobeItem.Color" />
            <ValidationMessage For="() => WardrobeItem.ItemTypeModelId" />
            <button type="submit" class="btn-form btn-form--submit">Submit</button>
            <NavLink href="/wardrobe"><button class="btn-form btn-form--cancel">Cancel</button></NavLink>
        </EditForm>
    }    
</div>

@code {
    [Parameter]
    public int Id { get; set; }
    private string Title { get; set; } = "Create";
    private bool IsLoading { get; set; }

    private ProductDTO WardrobeItem { get; set; } = new ProductDTO();
    private IEnumerable<ItemTypeDTO> ItemTypeModels { get; set; } = new List<ItemTypeDTO>();
    private IEnumerable<SizeDTO> Sizes{ get; set; } = new List<SizeDTO>();

    private async Task Submit()
    {
        if (Id == 0)
        {
            await _productService.Create(WardrobeItem);
        }
        else
        {
            await _productService.Update(WardrobeItem);
        }
        _navigationManager.NavigateTo("/wardrobe");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {     
        if (firstRender)
        {
            await LoadItem();
        }
    }

    private async Task LoadItem()
    {
        IsLoading = true;
        StateHasChanged();
        ItemTypeModels = await _itemTypeService.GetAll();
        if (Id != 0)
        {
            WardrobeItem = await _productService.GetById(Id);
            Sizes = await _sizeService.GetAllOfId(WardrobeItem.ItemTypeModelId);
            Title = "Update";
        }
        IsLoading = false;
        StateHasChanged();
    }

    private async Task UpdateSizes()
    {
        Sizes = await _sizeService.GetAllOfId(WardrobeItem.ItemTypeModelId);
        StateHasChanged();
    }


    private async Task HandleFileUpload(InputFileChangeEventArgs e)
    {
        var imageFile = e.File;

        if (imageFile != null)
        {
            using (var memoryStream = new MemoryStream())
            {
                await imageFile.OpenReadStream().CopyToAsync(memoryStream);
                WardrobeItem.ImageData = memoryStream.ToArray();
            }
        }
    }

    private string ImageData()
    {
        if (WardrobeItem.ImageData != null && WardrobeItem.ImageData.Length > 0)
        {
            var base64String = Convert.ToBase64String(WardrobeItem.ImageData);
            return $"data:image/jpeg;base64,{base64String}";
        }
        return "";
    }
}
