@page "/wardrobe"
@inject IProductService _productService
@inject IItemTypeService _itemTypeService
@inject IJSRuntime JSRuntime

@{
    var showClass = IsVisible ? "d-block" : "d-none";
}

<div class="toast-container p-3 popup-container @showClass" data-bs-autohide="true" data-bs-delay="5000">
    <div class="toast show popup-container--content" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">@HeaderText</strong>
            <button type="button" class="btn-close" aria-label="Close" @onclick="Close"></button>
        </div>

        <div class="toast-body popup-container--body">
            @if (ShowingProductImage)
            {
                <img src="@ImageData()" class="input-container--image" />
            }
            @if (ShowingProductPallete)
            {
                <div class="input-container--wrap" style="margin: 0px;">
                    @foreach (var color in WardrobeItem.Colors)
                    {
                        <div class="color-container" style="background-color: @color.ColorCode;"></div>
                    }
                </div>
            }
        </div>
    </div>
</div>

<div class="header-container">
    <h2>Wardrobe Iventory</h2>    
</div>

@if (!IsLoading)
{
    <div style="display: flex; justify-content: center;">
        <div class="menu-container">
            <div class="menu-container--content">
                <_FilterComponent OnFilterApplied="HandleFilterApplied"></_FilterComponent>
            </div>
            <div class="menu-container--content">
                <input @bind-value="SearchedItem" placeholder="Search..." @onkeydown="SearchOnEnter" @bind-value:event="oninput" />
                <button class="menu-container--search-button" @onclick="SearchForItem"></button>
            </div>
            <div class="menu-container--content">
                <NavLink href="/product/create" style="float: right;">
                    <button class="btn-form btn-form--submit btn-plus"></button>
                </NavLink>
            </div>
        </div>
    </div>
}

<div class="item-container">
    @if (WardrobeList.Any())
    {
        <div class="item-row item-row--info">
            <div class="item-container__property">Name</div>
            <div class="item-container__property">Item Type</div>
            <div class="item-container__property">Price</div>
            <div class="item-container__property">Image</div>
            <div class="item-container__property">Available Colors</div>
            <div class="item-container__property">Action</div>
        </div>
        @foreach (var item in WardrobeList)
        {
            <div class="item-row item-row--content">
                <div class="item-container__property">@item.Name</div>
                <div class="item-container__property">@item.ItemType.Model</div>
                <div class="item-container__property">@item.Price€</div>
                <div class="item-container__property">
                    @if (item.ImageData.Any()) {
                        <button class="item-container__property-button-image-picture" @onclick="() => ShowProductImage(item.WardrobeModelId)"></button>
                    }
                    else
                    {
                        <span>None</span>
                    }
                </div>
                <div class="item-container__property">
                    @if (item.Colors.Any())
                    {
                        <button class="item-container__property-button-image-pallete" @onclick="() => ShowProductColors(item.WardrobeModelId)"></button>

                    }
                    else
                    {
                        <span>None</span>
                    }
                </div>
                <div class="item-container__property">
                    <NavLink href=@($"/product/create/{item.WardrobeModelId}")>
                        <button class="btn-form btn-form--submit" style="margin-right: 2px;">Edit</button>
                    </NavLink>
                    <button class="btn-form btn-form--cancel" style="margin-left: 2px;" @onclick="() => DeleteItem(item.WardrobeModelId)">Delete</button>
                </div>
            </div>
        }
    }
    else
    {
        if (IsLoading)
        {
            <div style="padding-top: 19rem;">
                <div class="loadingio-spinner-blocks-49enh9aem">
                    <div class="ldio-4kmgy2v2hm7">
                        <div style='left:25.919999999999998px;top:25.919999999999998px;animation-delay:0s'></div><div style='left:57.599999999999994px;top:25.919999999999998px;animation-delay:0.32894736842105265s'></div><div style='left:89.28px;top:25.919999999999998px;animation-delay:0.6578947368421053s'></div><div style='left:25.919999999999998px;top:57.599999999999994px;animation-delay:2.3026315789473686s'></div><div style='left:89.28px;top:57.599999999999994px;animation-delay:0.9868421052631579s'></div><div style='left:25.919999999999998px;top:89.28px;animation-delay:1.9736842105263157s'></div><div style='left:57.599999999999994px;top:89.28px;animation-delay:1.644736842105263s'></div><div style='left:89.28px;top:89.28px;animation-delay:1.3157894736842106s'></div>
                    </div>
                </div>
            </div>            
        }
        else
        {
           <p>No Data found</p>
        }
    }
</div>

<style>
    body { background-color: #f3f3f3; }

    .btn-plus {
        background-image: url('Images/plus.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 15px;
        margin-left: 5px;
    }
</style>

@code {
    private IEnumerable<ProductDTO> WardrobeList { get; set; } = new List<ProductDTO>();
    private ProductDTO WardrobeItem { get; set; } = new ProductDTO();

    bool IsLoading { get; set; }
    private string SearchedItem { get; set; } = "";
    private bool ShowingProductImage { get; set; }
    private bool ShowingProductPallete { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadWardrobeList();
        }        
    }

    private async Task LoadWardrobeList()
    {
        IsLoading = true;
        StateHasChanged();
        WardrobeList = await _productService.GetAll();
        IsLoading = false;
        StateHasChanged();
    }

    private async Task DeleteItem(int id)
    {
        IsLoading = true;
        await _productService.Delete(id);
        await LoadWardrobeList();
        IsLoading = false;
    }

    private async Task SearchForItem()
    {
        IsLoading = true;
        WardrobeList = await Task.Run(() => _productService.SearchByText(SearchedItem));
        IsLoading = false;
    }

    private async Task SearchOnEnter(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await SearchForItem();
        }
    }

    public async void ShowProductColors(int id)
    {
        await LoadWardrobeItem(id);
        HeaderText = "Colors";
        IsVisible = true;
        ShowingProductPallete = true;
        ShowingProductImage = false;
        StateHasChanged();
    }

    public async void ShowProductImage(int id)
    {
        await LoadWardrobeItem(id);
        HeaderText = "Image";
        IsVisible = true;
        ShowingProductPallete = false;
        ShowingProductImage = true;
        StateHasChanged();
    }

    [Parameter]
    public bool IsVisible { get; set; } = false;

    [Parameter]
    public EventCallback<bool> IsVisibleChanged { get; set; }

    [Parameter]
    public string? HeaderText { get; set; }        

    private void Close()
    {
        HeaderText = string.Empty;
        IsVisible = false;
        StateHasChanged();
    }

    private async Task LoadWardrobeItem(int id)
    {
        WardrobeItem = await _productService.GetById(id);
    }

    private string ImageData()
    {
        if (WardrobeItem.ImageData != null && WardrobeItem.ImageData.Length > 0)
        {
            var base64String = Convert.ToBase64String(WardrobeItem.ImageData);
            return $"data:image/jpeg;base64,{base64String}";
        }
        return "";
    }

    private void HandleFilterApplied(IEnumerable<ProductDTO> filteredList)
    {
        WardrobeList = filteredList;
        StateHasChanged();
    }
}
